<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drug.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @drug.note %>
</p>

<p>
  <strong>Active:</strong>
  <%= @drug.active %>
</p>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>
