<p id="notice"><%= notice %></p>

<p>
  <strong>When:</strong>
  <%= @purchase.when %>
</p>

<p>
  <strong>Note:</strong>
  <%= @purchase.note %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @purchase.amount %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
